[user]
    name = Daniel Wait
    email = 71983137+danieljwait@users.noreply.github.com
    signingkey = ~/.ssh/id_ed25519.pub

[gpg]
    format = ssh

[commit]
    gpgsign = true

[tag]
    gpgsign = true

[gpg "ssh"]
    allowedSignersFile = ~/.config/git/allowed_signers

[core]
    pager = delta

[delta]
    navigate = true
    dark = true
    line-numbers = true
    side-by-side = false

[interactive]
    diffFilter = delta --color-only

[diff]
    colorMoved = default

[merge]
    conflictstyle = zdiff3

[alias]
    st = status -sb
    last = log -1 HEAD --stat
    pl = log --graph --pretty=format:'%C(red)%h%C(reset) %C(green)(%ci)%C(reset) %s %C(bold blue)<%an>%Creset%C(auto)%d%C(reset)' --abbrev-commit --date=relative -10
