# Sets LS_COLORS to specified format if exists
if [ -x /usr/bin/dircolors ]; then
    test -r ~/.dircolors && eval "$(dircolors -b ~/.dircolors)" || eval "$(dircolors -b)"
fi

alias ls='ls --color=auto'
alias grep='grep --color=auto'

alias ll='ls -AlFh'

alias hibernate='systemctl hibernate'
alias off='shutdown now'

alias n='nvim'

alias prog='cd ~/imperial_prog/c_proj/src'
alias tests='cd ~/imperial_prog/armv8_tests'
